* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* transition: all linear 0.5s; */
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cursor {
    background: #ff6200e1;
    height: 25px;
    width: 25px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

h1 {
    background: gray;
    padding: 1.43rem;
    border-radius: 12rem;
}